
#nav
    display: flex
    justify-content: center
    align-items: center
    background: linear-gradient(90deg, #0e4c92, #003151, #0f52ba)
    height: 64px
    color: #fff
    font: 900 24px sans-serif